.analytics-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  width: 100%;
  flex: 1;
  box-sizing: border-box;
  margin: 0 auto;
}

.orderTypeDistribution {
  background: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1.5rem;
  text-align: center;
  z-index: 1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-panel-charts {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-sizing: border-box;
}

.jobVolume,
.jobCompletion {
  background: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1.5rem;
  z-index: 1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 100%;
  height: auto;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.analytics-content-container h2 {
  margin-bottom: 1.25rem;
  color: #0D1B2A;
  font-size: 1.4rem;
  font-family: Verdana, sans-serif;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
}

.date-range-selector {
  padding: 0.4rem;
  margin-left: 1.5rem;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  color: #415A77;
  font-size: 1rem;
}

.date-range-selector select {
  margin-left: 0.625rem;
  padding: 0.4rem 0.75rem;
  border: 1px solid #999;
  border-radius: 8px;
  background-color: #fefefe;
  font-size: 1rem;
  color: #0D1B2A;
  cursor: pointer;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.date-range-selector select:hover {
    border-color: #1B263B;
}

.date-range-selector select:focus {
  outline: none;
  border-color: #1B263B;
  box-shadow: 0 0 0 3px rgba(27, 38, 59, 0.2);
}

@media (min-width:1025px) {
  .analytics-content-container {
    flex-direction: row;
    align-items: flex-start;
    height: calc(100vh - 150px);
  }

  .orderTypeDistribution {
    flex: 0 0 40%;
    max-width: 40%;
    min-width: 300px;
    height: 100%;
  }

  .right-panel-charts {
    flex: 0 0 60%;
    max-width: 60%;
    min-width: 300px;
    height: 100%;
    justify-content: space-between;
  }

  .jobVolume,
  .jobCompletion {
    height: calc(50% - 0.75rem);
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .analytics-content-container {
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    gap: 1.5rem;
  }
  .orderTypeDistribution,
  .right-panel-charts {
    width: 100%;;
    max-width: 100%;
    flex-basis: auto;
    min-width: unset;
    height: auto;
  }
  .jobVolume,
  .jobCompletion {
    height: auto;
  }
}