#dashboard-first-container {
    height: 90vh;
    display: flex;
    gap: 2rem;
    padding: 2rem;
    background-color: #E0E1DD;
}

#dashboard-second-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#dashboard-third-container {
    width: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#schedule-container,
#analytics-container,
#notifications-container {
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
}

#schedule-container {
    height: 100%;
}

#analytics-container {
    height: auto;
}

#notifications-container {
    height: auto;
}