#dashboard-first-container {
    height: 90vh;
    display: flex
}

#dashboard-second-container {
    flex: 3;
    display: flex;
    flex-direction: column
}

#dashboard-third-container {
    width: 1;
    display: flex;
    flex-direction: column
}

.schedule-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.color-key {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.key-item {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.key-color {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 0.5rem;
    border: 1px solid #555;
    border-radius: 3px;
}

/* .key-color.production { background-color: #fecaca; }
.key-color.private { background-color: #bbf7d0; }
.key-color.residential { background-color: #fef9c3; }
.key-color.commercial { background-color: #d1d5fa; } */

#schedule-container {
    background-color: blue;
    height: 90vh
}

#analytics-container {
    background-color: yellow;
    height: 40vh
}

#notifications-container {
    background-color: orange;
    height: 50vh
}