body {
  margin: 0px;
  height: 100vh;
}

p {
  background-color: white;
}

.dashboard {
  display: flex;
  background-color: black;
}

.dbp-left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightpink;
  height: 100vh;
  transition: width 0.1s ease;
}

.dbp-left-container.expanded {
  width: 7%;
}

.dbp-left-container.collapsed {
  width: 5%;
}

.no-logo {
  display: none;
}

.navbar-toggle {
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  align-self: flex-start;
}

.dbp-navbar li {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.dbp-navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 96%;
  background-color: white;
}

.dbp-navbar-container img{
  width: 100%;
  background-color: black;
}

.dbp-navbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  padding-left: 0;
}

.dbp-right-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: lightblue;
}

.dbp-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightseagreen;
  height: 10%;

}

.dbp-uo-ja-n-es-container {
  display: flex;
  height: 100%;
  background-color: yellow;
}

.dbp-upcomming-orders-container {
  flex: 5;
  background-color: darkslateblue;
  height: 100%;
}

.dbp-ja-n-es-container {
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: violet;
}



.dbp-job-analytics-container {

  height: 45%;

  background-color: darkviolet;

}



.dbp-notifications-container {

  height: 55%;

  background-color: darkred;

}

/* Schedule Page */





.page-container {
  display: flex;
  background-color: black;
}

a.active {
  color: red;
}



